/* styles.css */

/* original color scheme
:root {
    --primary-color: #152027;
    --secondary-color: #2C4251;
    --tertiary-color: #1a2c38;
    --text-hover: #72623e;
    --button-hover: #263946;
    --primary-text-color: #E9ECF5;
    --h-color: #A3C3D9;
}
*/
:root {
    --primary-color: #141414;
    --secondary-color: #2D2D2D;
    --tertiary-color: #282828;
    --text-hover: #985E50;
    --button-hover: #343434;
    --primary-text-color: #E9ECF5;
    --h-color: #d08c58;
    --h2-color: #d5d8e0;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 14pt;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
h1 {
    color: var(--h-color);
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    margin: 15px;
    font-size: 14pt;
}
i {
    color: lightgray;
}
label {
    color: orange;
}
optgroup {
    font-weight: bold;
}
button {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
button:hover {
    background-color: var(--button-hover);
}
form {
    display: inline;
}
#topbar {
    background-color: var(--tertiary-color);
    padding: 15px;
    margin: -10px;
    margin-bottom: 10px;
    
}
#search-form {
    display: inline;
}
#submit {
    text-shadow: none;
    height: 30px;
    width: 70px;
    text-align: center;
    font-weight: bold;
}

#searchText {
    height: 20px;
}
#newtab {
    background-color: var(--primary-color);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    user-select: none
}
#newtab:hover {
    background-color: var(--tertiary-color);
}
#bible-header {
    text-align: center;
}
#container {
    overflow: scroll;
}
#main {
    margin: auto;
    text-align: center;
}
#main b {
    color: white;
}
.icon {
    font-size: 25px;
}
.tabBody {
    background-color: var(--secondary-color);
    max-width: 800px;
    width: 40vw;
    margin: 5px;
    border-radius: 10px;
    padding: 0px 10px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.word {
    background-color: var(--secondary-color);
    cursor: default;
    border-radius: 5px;
    padding: 0px 2px 0px 2px;
    margin: 0px -2px 0px -2px;
    transition-delay: .04s;
    
}
.word:hover {
    background-color: var(--text-hover);
    transition-delay: 0s;
}

/* Add styles here to customize the appearance of your app */